html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.dayDiv{
    text-align:center;
    margin-bottom:24px;
    font-size:1.5em;
    font-family: 'Roboto', sans-serif;
    margin-right:8px;
}
#terms-container {
    font-family: 'Roboto', sans-serif;
    color:#616161;
}
#terms-container h1{
    font-weight:100;
    color:#0b8043;
}
#terms-container h2{
    font-weight:100;
    color:#212121;
}
.day-selected{
    font-weight:400;
    color:#212121;
}
.bold{
    font-weight:400;
}
.caps{
    text-transform: uppercase;
}
.cap{
    text-transform: capitalize;
}
.day-unselected{
    font-weight:100;
    color:#616161;
}
.days{
    width:1em;
    margin-left:8px;
    margin-right:8px;
}
.icon-align{
    vertical-align:-25%;
}
#actionButtons{
    position:relative;
    bottom:-20px;   
}
.optionsSave{
    position:absolute;
    right:8px;
    bottom:-14px;
    z-index:12;
    }
.optionsSave:hover{
    cursor:pointer;
}
.optionsToggle{
    position:absolute;
    line-height:1em;
    left:0;
    bottom:-14px;
    z-index:12;
}
.optionsToggle:hover{
    cursor:pointer;
}
.days:hover{
    cursor:pointer;
}
#map {
    height: 0;
}
#mapControls{
    text-align:left;
    padding-right:4px;
    padding-left:12px;
    padding-top:12px;
    padding-bottom:24px;
    background:#fff;
    border:2px solid #fff;
    border-radius:3px;
    box-shadow:0 2px 6px rgba(0,0,0,.3);
}
.menuHidden{
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.menuShown{
    top:0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.flip {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
}
.menuIcon{
    opacity:.5;
}
.menuIconDown{
    margin-top:6px;
}
.menuIconUp{
    margin-top:-4px;
}
.notation{
    font-weight:100;
    font-size:12px;
}
#menu{
    z-index:10;
    position:fixed;
    left:50%;
    transform: translate(-50%);
    width:auto;
}
.actionPane{
    text-align:right;
    position:relative;
    height:0px;
    bottom:2px;
}
#change-location{
    position:absolute;
    height:0px;
    bottom:28px;
    left:6px;
    display:none;
}
#change-location:hover{
    cursor:pointer;
}
.cLoc{
    opacity:.1;
}
#landing-card{
    margin-top:40px;
    width:auto;

}

.demo-card-wide.mdl-card {
  
}
#homeCard.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../images/home.jpg') center / cover;
}
.mdl-card__title-text{
    margin-top:-80px;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
.xbold{
    position:relative;
    top:-120px;
}
#manual-location-div{
    position:relative;
    left:50%;
    transform: translate(-50%);
}
#locate-submit{
    text-align:right;
    margin-right:12px;
    width:auto;
}

.notice{
    font-size:75%;
    line-height:1.5em;
    margin-top:20px;
    
    margin-left:auto;
    margin-right:auto;
}

#rack-logo{
    position:fixed;
    bottom:3px;
    left:72px;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    display:none;
}

#btnMenu{
    display:none;
}

#divTopBottom{
    width:100%;
    margin-bottom:-24px;
    text-align:center;
}
#logo{
    margin-right:8px;
    color:#212121;
    z-index:1;
    font-size:2em;
    font-weight:100;
    font-family: 'Roboto', sans-serif;
}

.checkbox-text {
    vertical-align:25%;
}
.hrTopTop{
    margin-top:-12px;
    margin-bottom:24px;
    margin-right:8px;
    color:#ebebeb;
}
.hrTopBottom{
    margin-right:8px;
    margin-bottom:8px;
    color:#ebebeb;
}
.font300{
    font-weight:300;
}
.choices{
    max-width:148px;
}
.cbxWrapper{
    margin-right:8px;
}
@media all and (orientation:portrait) {
    /* Styles for Portrait screen */
    #mapControls{
        width:336px;
    }
    .menuHidden{
    top:-304px;
    }
}
@media all and (orientation:landscape) {
    /* Styles for Landscape screen */
    #mapControls{
         width:506px; 
    }
    .menuHidden{
    top:-232px;
    }
}
